[Desktop Entry]
Type=Application
Name=WhatsApp
Comment=WhatsApp Web
Exec=@BINDIR@/whatsapp %u
Icon=io.github.shehawey.whatsapp
Terminal=false
Categories=Network;InstantMessaging;
Keywords=whatsapp;chat;messaging;
StartupNotify=true
StartupWMClass=io.github.shehawey.whatsapp
SingleMainWindow=true
